In [1]:
import pandas as pd 
from sklearn import metrics

In [2]:
df = pd.read_csv("D:\\ML Lab\\Play_Tennis_reg.csv")
df

     Outlook Temprature Humidity    Wind  Golf Players
0      Sunny        Hot     High    Weak            25
1      Sunny        Hot     High  Strong            30
2   Overcast        Hot     High    Weak            46
3       Rain       Mild     High    Weak            45
4       Rain       Cool   Normal    Weak            52
5       Rain       Cool   Normal  Strong            23
6   Overcast       Cool   Normal  Strong            43
7      Sunny       Mild     High    Weak            35
8      Sunny       Cool   Normal    Weak            38
9       Rain       Mild   Normal    Weak            46
10     Sunny       Mild   Normal  Strong            48
11  Overcast       Mild     High  Strong            52
12  Overcast        Hot   Normal    Weak            44
13      Rain       Mild     High  Strong            30

In [3]:
df.shape

(14, 5)

In [ ]:
x = df.drop("Golf Players", axis=1)
y = df["Golf Players"]

In [9]:
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
string_to_int = preprocessing.LabelEncoder()
x = x.apply(string_to_int.fit_transform)
x

    Outlook  Temprature  Humidity  Wind
0         2           1         0     1
1         2           1         0     0
2         0           1         0     1
3         1           2         0     1
4         1           0         1     1
5         1           0         1     0
6         0           0         1     0
7         2           2         0     1
8         2           0         1     1
9         1           2         1     1
10        2           2         1     0
11        0           2         0     0
12        0           1         1     1
13        1           2         0     0

In [11]:
from sklearn.tree import DecisionTreeRegressor
reg = DecisionTreeRegressor()
reg = reg.fit(x,y)

In [13]:
y_pred = reg.predict([[2,1,0,0]])
print("Result is",y_pred)

Result is [30.]

c:\Users\prajw\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(